<div class="header">
    <style type="text/css">
        .header {
            background-color: #00558b;
            overflow: auto;
        }
        .header__logo {
            display: block;
            max-width: 1300px;
            text-align: right;
            font-family: 'Guardian Text Egyptian Web';
            font-size: 24px;
            margin: auto;
            font-weight: bold;
            line-height: 48px;
        }
        .header__logo span:first-child {
            color: #aad8f2;
        }
        .header__logo span:last-child {
            color: #fff;
        }
        .header__logo a {
            text-decoration: none;
        }
    </style>
    <h2 class="header__logo">
        <a href="/">
            <span>Visuals</span><span>Intraweb</span>
        </a>
    </h2>
</div>
